@model FullWeb.Models.Goods

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Goods</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GoodsByCategory)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GoodsByCategory.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountOfGoodsDonating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountOfGoodsDonating)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-area="" asp-controller="Goods" asp-action="Index">Back to List</a>
</div>
